<tr>
    <td>1</td>
    <td>Kamran</td>
    <td>kamran@email.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update_user" class="update btn border-shadow">
            <span class="text-gradient"> <i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="delete btn border-shadow">
            <span class="text-gradient"> <i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>